{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
  <main>
    <div class="flex items-center justify-center mt-auto">
      <div class="w-3/4 p-6 bg-white shadow-2xl border border-gray-200 rounded-lg flex flex-col">
        <h1 class="text-center text-4xl py-5 font-bold">Cars pending</h1>

        <ul class="list-group">
          {% for car in cars %}
            <a class="list-group-item" href="{% url 'car_detail' car.id %}">
              <header class="d-flex justify-content-between">
                {% if car.important %}
                  <h1 class="fw-bold text-success">{{ car.title }}</h1>
                  <p>{{ car.user.username }}</p>
                {% else %}
                  <h1 class="fw-bold">{{ car.title }}</h1>
                {% endif %}
              </header>

              <p>{{ car.description }}</p>

              <p>{{ car.important }}</p>
              <p>{{ car.datecompleted|date:'M j Y:y' }}</p>
              <p>
                Marca: <strong>{{ car.marca }}</strong>
              </p>
              <p>
                Modelo: <strong>{{ car.modelo }}</strong>
              </p>
              <p>
                Año: <strong>{{ car.ano }}</strong>
              </p>
              <p>
                cilindrada: <strong>{{ car.cilindrada }}</strong>
              </p>
              <p>
                Kilómetros: <strong>{{ car.km }}</strong>
              </p>
              <p>
                Precio estimado: <strong>{{ car.precioventa }}</strong>
              </p>
              <p>
                Fecha inicio de subasta: <strong>{{ car.FechaSubasta }}</strong>
              </p>

              <!-- Loop through images associated with this car -->
              <div class="image-gallery">
                {% for image in car_images|get_car_images:car %}
                  <img src="{{ image.imagen.url }}" alt="Image" width="50" height="50" />
                {% endfor %}
              </div>
            </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </main>
{% endblock %}
